*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 175%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.dummy-text{
    padding: 10px;
}

.section-title{
    border: 1px solid black;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
    font-size: 125%;
}
.pink{
    background-color: pink;
}
.red{
    background-color: red;
    color: white;
}
.yellow{
    background-color: yellow;
}

/* desktop */
@media (min-width: 992px){
    .col-lg-4{
        float: left;
        background-color: grey;
        border: 1px solid black;
    }
    .col-lg-4 {
        width: 30%;
    }
    .left{
        margin-left: 2.5%;
        margin-right: 1.25%;
    }
    
    .center{
        margin-left: 1.25%;
        margin-right: 1.25%;
    }
    .right{
        margin-left: 1.25%;
        margin-right: 2.5%;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        background-color: grey;
        border: 1px solid black;
    }    
    .col-md-6 {
        width: 45%;
    }
    .col-md-12 {
        width: 93.34%;
    }
    .left{
        margin-left: 3.33%;
        margin-right: 1.66%;
    }
    .center{
        margin-left: 1.67%;
        margin-right: 3.33%;
    }
    .right{
        margin-left: 3.33%;
        margin-right: 3.33%;
        margin-top: 30px;
    }
}

/* mobile */
@media (max-width: 767px){
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
        background-color: grey;
        border: 1px solid black;
    }
    .col-sm-12 {
        width: 90%;
    }
    .left{
        margin: 5%;
    }
    .center{
        margin: 5%;
    }
    .right{
        margin: 5%;
    }
}
